<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
	<head th:replace="fragment/adminlayout.html :: head"></head>
	<link rel="stylesheet" href="/css/admin.css">
</head>

<body>

	<div th:replace="fragment/adminlayout.html :: sidebar"></div>
	
		<section class="uk-section uk-section-secondary">
		<div class="uk-container uk-container-large">
			<h1 class="uk-text-center">Pannel d'Administration</h1>
			<hr class="uk-divider-icon uk-margin-medium">
		</div>
	</section>
	
	<div th:replace="fragment/layout.html :: script"></div>
	
</body>

</html>