<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
	<head th:replace="fragment/layout.html :: head"></head>
	<title>Wild Circus | Galerie</title>
</head>

	<header th:replace="fragment/layout.html :: top"></header>
	
	<section class="secGalery uk-section uk-section-secondary">
		<div class="uk-container uk-container-large">
			<h1>Les photos de la troupe</h1>
			<hr class="uk-divider-icon uk-margin-medium">
			<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid uk-flex-top uk-flex-wrap-top" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100; repeat: true;" uk-grid="masonry: true">
				<div th:each="picture : ${pictures}">
					<img th:src="${picture.picturePath}" th:alt="${picture.title}"/>
				</div>
			</div>
		</div>
	</section>
	
	<footer th:replace="fragment/layout.html :: bottom"></footer>

	<div th:replace="fragment/layout.html :: script"></div>

</body>

</html>